# Workspace Files 工程文件
RPGGame/.*
RPGGame/RPGGame.VC.*

# Compiled Temp Files 编译临时文件
RPGGame/RPGGame/Debug/*

# Compiled Object Files 编译文件
RPGGame/Debug/*.ilk
RPGGame/Debug/*.pdb

# Protobuf Temp Files
RPGGame/RPGGame/proto/data/*.*
RPGGame/RPGGame/proto/json/*.*
RPGGame/RPGGame/proto/proto/*.*
RPGGame/RPGGame/proto/python/*.*
RPGGame/RPGGame/proto/src/proto/*.*
RPGGame/RPGGame/proto/xls/~$*
RPGGame/RPGGame/proto/xls_deploy_tool.log
RPGGame/Debug/RPGGame.exe
*.sav
*.sav
