# Workspace Files 工程文件
RPGGame/.*
RPGGame/RPGGame.VC.*
XMLTools/.*
XMLTools/XMLTools.VC.*

# Compiled Temp Files 编译临时文件
RPGGame/RPGGame/Debug/*
XMLTools/XMLTools/Debug/*

# Compiled Object Files 编译文件
RPGGame/Debug/*.*
XMLTools/Debug/*.*

# Protobuf Temp Files
RPGGame/RPGGame/proto/data/*.*
RPGGame/RPGGame/proto/json/*.*
RPGGame/RPGGame/proto/proto/*.*
RPGGame/RPGGame/proto/python/*.*
RPGGame/RPGGame/proto/src/proto/*.*
RPGGame/RPGGame/proto/xls/~$*
RPGGame/RPGGame/proto/xls_deploy_tool.log
RPGGame/RPGGame/*.sav


# Unity Workspace Unity工程
UnityGame/*
